<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
   
{{ partial "header.html" . }}
	
 <body class="c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-fullscreen c-layout-header-topbar c-bg-red-2">

        {{ partial "page-header.html" . }}

        <!-- BEGIN: PAGE CONTENT -->
        <div class="c-layout-page">
            {{ partial "breadcrumbs.html" . }}
            
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: BLOG LISTING -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="c-content-blog-post-1-view">
                                <div class="c-content-blog-post-1">
									{{ if .Params.video }}
                                     <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="{{ .Params.video }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>

									{{ end }}
                                    <div class="c-title c-font-bold c-font-uppercase">
                                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                                    </div>
                                    <div class="c-panel c-margin-b-30">
                                        <div class="c-author">
                                            Presented By
                                            <span class="c-font-uppercase">{{ .Params.presenter }}</span>
                                            on
                                            <span class="c-font-uppercase">{{ .Date.Format "2 Jan 2006" }}</span>
                                        </div>
										{{ if .Params.tags }}
	                                        <ul class="c-tags c-theme-ul-bg">
											{{ range .Params.tags }}
												<li>{{ . }}</li>
											{{ end }}
	                                        	</ul>
										{{ end }}
                                    </div>
                                    <div class="c-desc">
                                        {{ .Content }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
							 {{ partial "blog-sidebar.html" . }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: BLOG LISTING  -->
            <!-- END: PAGE CONTENT -->
        </div>
        <!-- END: PAGE CONTAINER -->
		{{ partial "footer.html" . }}
    </body>

</html>