<section class="content_20 bg_white padding_bottom70">
    <div class="container nopadding max_width970">
        <p>The following is a high-level outline of our design process.</p>
        <div class="max_width770 top70 inner">
            <div class="padding_bottom50 relative block">
                <div class="content_20_line"></div>
                <div class="float_left bottom20 bg_dark_gray white radius_full width40 height40 line_height40 text-center semibold relative number">1</div>
                <div class="left70 font18 block_inner">
                    <div class="font_second semibold dark_gray padding_top5">RESEARCH & ANALYSIS</div>
                    <div class="light dark_blue top20 text">
                        The research step focuses on understanding the user personas, user goals and client
                        requirements.
                        <div class="top10 row inner text">
                            <div class="col-md-6 text dark_blue light bottom30 ">
                                <strong>Activities:</strong>
                                <ul>
                                    <li class="text">Audience research</li>
                                    <li class="font12">Competitive analysis</li>
                                    <li class="font18">Collect Existing brand and product info</li>
                                </ul>
                            </div>
                            <div class="col-md-6 font18 dark_blue light">
                                <strong>Activities:</strong>
                                <ul>
                                    <li class="text">Personas</li>
                                    <li class="text">Goal Map/User Flow</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding_bottom50 relative block">
            <div class="content_20_line"></div>
            <div class="float_left bottom20 bg_dark_gray white radius_full width40 height40 line_height40 text-center semibold relative number">2</div>
            <div class="left70 font18 block_inner">
                <div class="font_second semibold dark_gray padding_top5">SKETCH</div>
                <div class="light dark_blue top20 text">
                    <div>The sketch step is focused on brainstorming interaction models and user experience designs to
                        accomplish the user goals.</div>
                    <div class="top10 row inner text">
                        <div class="col-md-6 text dark_blue light bottom30 ">
                            <strong>Activities:</strong>
                            <ul>
                                <li class="text">Wireframing and page/app flow</li>
                            </ul>
                        </div>
                        <div class="col-md-6 font18 dark_blue light">
                            <strong>Work Products:</strong>
                            <ul>
                                <li class="text">App Flow</li>
                                <li class="font12">Wireframes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding_bottom50 relative block">
            <div class="content_20_line"></div>
            <div class="float_left bottom20 bg_dark_gray white radius_full width40 height40 line_height40 text-center semibold relative number">3</div>
            <div class="left70 font18 block_inner">
                <div class="font_second semibold dark_gray padding_top5">CONCEPT DEVELOPMENT</div>
                <div class="light dark_blue top20 text">
                    <div>Build on the sketches to produce high fidelity concept designs.</div>
                    <div class="top10 row inner text">
                        <div class="col-md-6 text dark_blue light bottom30 ">
                            <strong>Activities:</strong>
                            <ul>
                                <li class="text">Concept Development</li>
                            </ul>
                        </div>
                        <div class="col-md-6 font18 dark_blue light">
                            <strong>Work Products:</strong>
                            <ul>
                                <li class="text">Visual Concepts</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding_bottom50 relative block">
            <div class="content_20_line"></div>
            <div class="float_left bottom20 bg_dark_gray white radius_full width40 height40 line_height40 text-center semibold relative number">4</div>
            <div class="left70 font18 block_inner">
                <div class="font_second semibold dark_gray padding_top5">PROTOTYPE (OPTIONAL)</div>
                <div class="light dark_blue top20 text">
                    <div>Create interactive prototype(s) for key user flow and interactions/animations. The prototype
                        does not need to be a comprehensive representation on the final design.</div>
                    <div class="top10 row inner text">
                        <div class="col-md-6 text dark_blue light bottom30 ">
                            <strong>Activities:</strong>
                            <ul>
                                <li class="text">Prototype creation</li>
                                <li class="text">Animation and interaction design</li>
                            </ul>
                        </div>
                        <div class="col-md-6 font18 dark_blue light">
                            <strong>Work Products:</strong>
                            <ul>
                                <li class="text">Interactive Prototype</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding_bottom50 relative block">
            <div class="content_20_line"></div>
            <div class="float_left bottom20 bg_dark_gray white radius_full width40 height40 line_height40 text-center semibold relative number">5</div>
            <div class="left70 font18 block_inner">
                <div class="font_second semibold dark_gray padding_top5">ART PRODUCTION</div>
                <div class="light dark_blue top20 text">
                    <div>Export design assets and create design specs for solution implementation and client
                        hand-off/maintenance.</div>
                    <div class="top10 row inner text">
                        <div class="col-md-6 text dark_blue light bottom30 ">
                            <strong>Activities:</strong>
                            <ul>
                                <li class="text">Export assets</li>
                                <li class="text">Create style guide/design specs as needed</li>
                            </ul>
                        </div>
                        <div class="col-md-6 font18 dark_blue light">
                            <strong>Work Products:</strong>
                            <ul>
                                <li class="text">Design assets</li>
                                <li class="font12">Design Specs</li>
                                <li class="font12">Style Guide</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
