<section class="content_20 bg_white padding_bottom70">
    <div class="container nopadding max_width970">
        <p>Our approach is based on a series of short iterations and delivery cycles that get your product to market fast. This provides for an earlier return on investment and of equal importance allows for the incorporation of customer feedback to improve the product.</p>
        <div class="max_width770 top70 inner">
            <div class="padding_bottom50 relative block">
                <div class="content_20_line"></div>
                <div class="float_left bottom20 bg_dark_gray white radius_full width40 height40 line_height40 text-center semibold relative number">1</div>
                <div class="left70 font18 block_inner">
                    <div class="font_second semibold dark_gray padding_top5">DISCOVER</div>
                    <div class="light dark_blue top20 text">
                        A one week, focused workshop to rapidly define the product vision, wireframes and release plan
                    </div>
                </div>
            </div>
        </div>
        <div class="padding_bottom50 relative block">
            <div class="content_20_line"></div>
            <div class="float_left bottom20 bg_dark_gray white radius_full width40 height40 line_height40 text-center semibold relative number">2</div>
            <div class="left70 font18 block_inner">
                <div class="font_second semibold dark_gray padding_top5">BUILD</div>
                <div class="light dark_blue top20 text">
                    <div>The product development will be decomposed into weekly iteration delivering product features each week for review</div>
                    
                </div>
            </div>
        </div>
        <div class="padding_bottom50 relative block">
            <div class="content_20_line"></div>
            <div class="float_left bottom20 bg_dark_gray white radius_full width40 height40 line_height40 text-center semibold relative number">3</div>
            <div class="left70 font18 block_inner">
                <div class="font_second semibold dark_gray padding_top5">LAUNCH</div>
                <div class="light dark_blue top20 text">
                    <div>Once the user stories for the release are implemented, the team focuses on preparing the app for production release</div>
                </div>
            </div>
        </div>
    </div>
</section>
