   <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
    <div class="c-layout-breadcrumbs-1 c-bgimage-full c-bg-red-2  c-fonts-uppercase c-fonts-bold  c-bg-img-center" style="">
        <div class="c-breadcrumbs-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 c-center">
                        <h3 class="c-font-white  c-font-48"> {{ .Title | markdownify }} </h3>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->