<section class="call_to_action_30 bg_white padding_top110">
    <div class="container nopadding dark_gray">
        <img srcset="/i/cta-xcode.png 1x, /i/cta-xcode@2x.png 2x" src="/i/cta-xcode.png" class="absolute left680 height_full bg" alt="" />
        <div class="relative max_width630 padding_top5 padding_bottom95 text-center text-lg-left inner">
            <h2 class="bottom25 font42 font_second light">Atomic Robot is an independent app agency</h2>
            <div class="font22 light opacity7 text">Ready to start your next mobile project? </div>
            <div class="top60 flex justify_start buttons">
                <a href="https://atomicrobot.com" class="right30 bottom10 btn size50 red min_width170 radius6 padding_sides20">Let's Chat</a>
            </div>
        </div>
    </div>
</section>