
<footer class="footer_5 bg_dark_gray padding_top100 padding_bottom40">
	<div class="container nopadding">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-6 bottom50">
					<div class="bottom30 font18 font_second semibold title white opacity3">SERVICES</div>
					<div class="bottom10"><a href="https://atomicrobot.com/services/" class="font16 light link white">App Development</a></div>
					<div class="bottom10"><a href="https://atomicrobot.com/services/" class="font16 light link white">UI/UX Design</a></div>
					<div class="bottom10"><a href="https://atomicrobot.com/services/" class="font16 light link white">Digital Strategy</a></div>
				</div>
			<div class="col-lg-3 col-md-3 col-6 bottom50">
				<div class="bottom30 font18 font_second semibold title white opacity3">RESOURCES</div>
				<div class="bottom10"><a href="https://atomicrobot.com/work/" class="font16 light link white">Case Studies</a></div>
				<div class="bottom10"><a href="https://playbook.atomicrobot.com" class="font16 light link white">Playbook</a></div>
				<div class="bottom10"><a href="https://www.meetup.com/Cincinnati-Kotlin" class="font16 light link white">GDG Cincinnati</a></div>
				<div class="bottom10"><a href="https://www.meetup.com/CincyCocoaDev/" class="font16 light link white">CocoaHeads Cincinnati</a></div>
			</div>
			<div class="col-lg-3 col-md-3 col-6 bottom50">
				<div class="bottom30 font18 font_second semibold title white opacity3">ABOUT</div>
				<div class="bottom10"><a href="https://atomicrobot.com/about/" class="font16 light link white">Company</a></div>
				<div class="bottom10"><a href="https://atomicrobot.com/careers/" class="font16 light link white">Careers</a></div>
				<div class="bottom10"><a href="https://atomicrobot.com/contact/" class="font16 light link white">Contact</a></div>
				<div class="bottom10"><a href="https://atomicrobot.com/blog/" class="font16 light link white">Blog</a></div>
			</div>
			<div class="col-lg-3 col-md-3 col-6 bottom50">
				<div class="bottom30 font18 font_second semibold title white opacity3">CONTACT</div>
				<div class="top30 bottom10"><i class="top5 fa fa-envelope float_left white opacity6"></i><a href="mailto:hello@atomicrobot.com" class="font16 light link white hyphens left20">hello@atomicrobot.com</a></div>
				<div class="bottom10"><i class="top5 fa fa-phone float_left white opacity6"></i> <a href="tel:1.513.716.1602" class="font16 light link white hyphens left20">1.513.716.1602</a></div>
				<div class="bottom10"><i class="top5 fa fa-phone float_left white opacity6"></i> <a href="tel:1.855.597.6268" class="font16 light link white hyphens left20">1.855.597.6268</a></div>
				<div class="top30 bottom10 socials">
					<a href="https://www.instagram.com/madebyatomicrobot/" class="link white"><i class="fab fa-instagram"></i></a>
					<a href="https://dribbble.com/atomicrobot" class="link white left25"><i class="fab fa-dribbble"></i></a>
					<a href="https://twitter.com/atomic_robot" class="link white left25"><i class="fab fa-twitter"></i></a>
					<a href="https://www.linkedin.com/company/atomic-robot/" class="link white left25"><i class="fab fa-linkedin"></i></a>
				</div>
			</div>
		</div>
		<div class="top45 bottom40 hr height1 white opacity1"></div>
		<div class="top35 font16 light white opacity3 text-center text">
			<div class="socials">
				<a class="link white left25">ATOMIC ROBOT &copy; 2018 All Rights Reserved</a>
			</div>
		</div>
	</div>
</footer>