      <!-- BEGIN: HEADER -->
    <header class="c-layout-header c-layout-header-3 c-layout-header-dark-mobile" data-minimize-offset="80">
        <div class="c-navbar">
            <div class="container">
                <!-- BEGIN: BRAND -->
                <div class="c-navbar-wrapper clearfix">
                    <div class="c-brand c-pull-left">
                        <a href="/" class="c-logo">
                            <img src="/assets/base/img/layout/logos/logo-1.png" alt="ATOMIC ROBOT" class="c-desktop-logo" height="40">
                            <img src="/assets/base/img/layout/logos/logo-1.png" alt="ATOMIC ROBOT" class="c-desktop-logo-inverse" height="30">
                            <img src="/assets/base/img/layout/logos/logo-1.png" alt="ATOMIC ROBOT" class="c-mobile-logo" height="30"></a>
                        <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                                <span class="c-line"></span>
                                <span class="c-line"></span>
                                <span class="c-line"></span>
                            </button>
                    </div>
                    <!-- END: BRAND -->
                    <!-- BEGIN: HOR NAV -->
                    <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
                    <!-- BEGIN: MEGA MENU -->
                    <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
                    <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-theme c-fonts-uppercase c-fonts-bold">
                        <ul class="nav navbar-nav c-theme-nav">
                            {{ $currentPage := . }}
                            {{ range .Site.Menus.main }}
                            <li class="{{if eq $currentPage.Section .Identifier }}c-active{{end}}"><a href="{{.URL}}" class="c-link dropdown-toggle">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </nav> 
                    <!-- END: MEGA MENU -->
                    <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                    <!-- END: HOR NAV -->
                </div>
            </div>
        </div>
    </header>
    <!-- END: HEADER -->