
                    <div class="container nopadding">
                        <h2 class="font_second light font42 dark_gray text-center">What people say about us</h2>
                        <div class="top50 slider arrows0 dots_dark_blue dots-50">
                            {{ range .Site.Params.testimonials }}
                            <div>
                                <div class="max_width970 margin_auto padding_sides100 padding_top70 padding_bottom40 radius8 slide">
                                    <img src="{{ .avatar }}" class="width70 height70 radius_full float_left top5" alt="" />
                                    <div class="left100 inner">
                                        <div class="font22 light dark_blue text">
                                            {{ .text }}
                                        </div>
                                        <div class="top30">{{ .author }}, {{ .title }}</div>
                                        <div class="dark_blue opacity3">{{ .company }}</div>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>