<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
{{ partial "header.html" . }}

<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

    <!-- <body class="c-bg-blue-1  c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-fullscreen c-layout-header-topbar"> -->
    {{ partial "page-header.html" . }}
    <div class="c-layout-page c-bg-white">
        <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->

        <div class="container" style="padding-top:30px;padding-bottom:30px;">
                <div class="c-content-box c-size-lg c-bg-img-top" style="background-image: url(../../assets/base/img/content/backgrounds/bg-65.jpg)">
                    <div class="container">
                        <div class="c-content-feature-6">
                            <!-- Begin: Title 1 component -->
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-center c-font-thin">Atomic Robot <strong>Playbook</strong></h3>
                                <div class="c-line-center c-theme-bg"></div>
                            </div>
                            <!-- End-->
                            <ul class="c-list">
                                <li>
                                    <div class="c-card c-bg-opacity-1 c-bg-blue-2">
                                        <h1 class="c-font-uppercase c-font-bold c-font-white c-center">Development Process</h1>
                                        <p class="c-font-white c-center">
                                           
                                        </p>
                                        <div class="c-center">
                                        <a href="/development/" class="btn btn-lg c-btn-white c-font-uppercase c-btn-square c-btn-border-1x">LEARN MORE</a>
                                    </div>
                                    </div>	
                                </li>
                                <li>
                                    <div class="c-card c-bg-opacity-1 c-bg-blue-2">
                                        <h1 class="c-font-uppercase c-font-bold c-font-white c-center">Design Standards</h1>
                                        <p class="c-font-white c-center">
                                            
                                        </p>
                                        <div class="c-center">
                                        <a href="/design/" class="btn btn-lg c-btn-white c-font-uppercase c-btn-square c-btn-border-1x">LEARN MORE</a>
                                        </div>
                                    </div>	
                                </li>
                                <li>
                                    <div class="c-card c-bg-opacity-1 c-bg-blue-2">
                                        <h1 class="c-font-uppercase c-font-bold c-font-white c-center">Company Operations</h1>
                                        <p class="c-font-white c-center">
                                            
                                        </p>
                                        <div class="c-center">
                                        <a href="/operations/" class="btn btn-lg c-btn-white c-font-uppercase c-btn-square c-btn-border-1x">LEARN MORE</a>
                                    </div>
                                    </div>	
                                </li>
                            </ul>
                        </div>
                    </div> 
                </div>
        </div>
    </div>



    <!-- END: PAGE CONTAINER -->

    {{ partial "footer.html" . }}
</body>

</html>