 <!-- BEGIN: CONTENT/FEATURES/FEATURES-15-2 -->
<div id="feature-15-2" class="c-content-feature-15 c-bg-img-center" style="background-image: url(/assets/img/backgrounds/bg-2.jpg)">
    <div class="container">
        <div class="row c-content-subscribe-form-1">
            <div class="col-md-offset-6 col-md-6 col-xs-12">
                <div class="c-feature-15-container c-bg-dark">
                    <h2 class="c-feature-15-title c-font-bold c-font-uppercase c-theme-border c-font-white">Join Our Newsletter</h2>
                    <div class="row">
                        <div class="">
                            <p class="c-feature-15-desc c-font-grey"> Stay up to date with the latest mobile app dev news, technologies and events with Atomic Robot.</p>
                                <form action="//madebyatomicrobot.us15.list-manage.com/subscribe/post?u=8286d9b047a9db2797751d4c4&amp;id=2f018ce636" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="input-group input-group-lg">
                            <input type="email" class="form-control input-lg" placeholder="Your Email Here" name="EMAIL" id="mce-EMAIL">
                            <span class="input-group-btn">
                                <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">SUBSCRIBE</button>
                            </span>
                        </div>
                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/FEATURES/FEATURES-15-2 -->