<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    <!-- Navigation 20 -->

    {{ partial "navigation.html" . }}

    <!-- Content 4 -->
    <section class="content_1 bg_white padding_top100 padding_bottom20">
        <div class="container nopadding max_width970">
            <div class="text-center inner">
                <h2 class="font62 black top30 light font_second">{{ .Title }}</h2>
            </div>
        </div>
    </section>
    <div class="feature_49 bg_white padding_top90 padding_bottom80">
        <div class="container nopadding dark_gray">
            <div class="row justify-content-between">
                <div class="col-lg-7 main">
                    <article>
                        {{ .Content }}
                    </article>
                </div>
                <div class="col-xl-4 col-lg-5 sidebar">
                    <sidebar>
                        <div class="bottom25 top40 font14 semibold uppercase spacing15 opacity7 title">CONTENTS</div>
                        
                        {{ partial "toc.html" . }} 
                    </sidebar>
                </div>
            </div>
        </div>
    </div>


    {{ partial "cta.html" . }} 
    {{ partial "footer.html" . }} 
    {{ partial "scripts.html" . }}

</body>

</html>

